{% extends 'layout.html' %}
{% from 'macros.html' import navbar %}
{% block navbar %}
{{ navbar('/' ,user.es_admin)}}
{% endblock %}
{% block main %}
<h1 class="text-center">Bienvenid@ a Las Trivias {{ user.name }}</h1>
<div class="row p-5 text-center ">
  <form action="/lets_play" class="col-4 offset-4 border p-3">
    <button type="submit" class="btn btn-primary p-4">Jugar!</button>
    <br><br>
    <h5>Haz click en el boton para empezar la trivia.</h5>
  </form>
  <div class="col-4 offset-7">
    <br>
    <div class="clearfix">
      <form action="/buscar">
        <input type="text" name="filtro">
        <button type="submit" class="btn btn-primary float-end">Buscar</button>
      </form>
    </div>
  </div>
  <div class="col-10 offset-1 p-4">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">fecha</th>
          <th scope="col">Puntaje</th>
          <th scope="col">Porcentaje</th>
        </tr>
      </thead>
      <tbody>
        {%for game in games%}
        <tr>
          <th scope="row">{{game.id}}</th>
          <td>{{game.name}}</td>
          <td>{{game.gamedate}}</td>
          <td>{{game.score}}/3</td>
          <td>{{(game.score*100/3)|round}}%</td>
          <!-- <td><a href="/eliminar/{{cita.id}}">Eliminar</a></td> -->
        </tr>
        {% endfor%}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}