{% macro navbar (active,es_admin) %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Trivia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if active == '/' %}active{% endif %}" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active == '/seguidos' %}active{% endif %} {% if es_admin==false %} disabled"
            data-bs-toggle="tooltip" data-bs-placement="right"
            title="Solo los Administradores pueden ingresar nuevas preguntas" {% endif %}" href="/new_question" {%if
            es_admin==false %}data-bs-toggle="tooltip" data-bs-placement="right"
            title="Solo los Administradores pueden ingresar nuevas preguntas" {%endif%}>Add Question</a>
        </li>
      </ul>
      <div class="d-flex">
        <a href="/logout" class="btn btn-outline-success" type="submit">Logout</a>
      </div>
    </div>
  </div>
</nav>
{% endmacro %}